@import url('https://fonts.googleapis.com/css2?family=Rhodium+Libre&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300&family=Share+Tech&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{

    
    max-width: 1920px;


}

/* Header */

header{

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.logo{

    color: #FCAC04;
    font-size: 80px ;
    font-family: 'Share Tech', sans-serif;

}

.nav ul{

    margin: 46px 0;

}

.nav ul li{

    list-style: none;
    display: inline-block;
    font-size: 36px;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 20px 40px;

}

.nav ul li a{

    text-decoration: none;
    color: black;

}

.nav ul li a:hover{

    text-decoration: underline;

}

/* Bg-Image */

.bg{

    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;

}

.vector{

    position: absolute;
    height: auto;

}

.bg-left{

    
    width: 70em;
    left: 0;

}

.bg-right{

    width: 79em;
    right: 0;

}

.left,.right{

    height: fit-content;

}


/* Left-Content */

.content{
    display: flex;
    position: absolute;
    height:69%;
    flex-direction: column;
    justify-content: center;
    margin-left: 6em;
    
} 

.p1{

    font-family: 'Rhodium Libre', serif;
    font-size: 7em;
}

.p2{

    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 5em;
    
}

.p3{

    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 30px;
    margin: 32px 0 25px 0;

}

.btn{

    background-color: #FABD3D;
    width: 220px;
    font-family: 'Roboto Condensed', sans-serif;
    height: 65px;
    border-radius: 10px;
    font-size: 26px;
    font-weight: bold;
    margin: 100px 0 0 0;

}

.btn:hover{

    background-color: #e9aa21;

}

/* Right-Content */

.machine{

    position: absolute;
    right: 37px;
    bottom: -3cm;
    width: 66em;

}

.machine img{

    width: 100%;

}


